* {
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
	/* font-family: "AdaptiveCode Regular", courier, monospace; */
	font-family: Inter, sans-serif;
	line-height: 1.6;
	letter-spacing: 0.05em;
}

h1, li, ol, p, ul {
	height: auto;
}

.container {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	min-width: 540px;
	max-width: 960px;
}

/* TODO: try #28e06e for sidebar */
.sidebar {
	height: 100%;
	width: 25%;
	max-width: 240px;
	color: white;
	/* background-color: #f7e561; */
	background-image: linear-gradient(to right, rgba(170,56,46,0.81), rgba(170,56,46,0.89), rgba(170,56,46,0.94), rgba(170,56,46,0.97), rgba(170,56,46,0.99), rgba(170,56,46,1));
}

.sidebar h1 {
	font-size: 3.6vw;
	font-style: italic;
	text-align: center;
	padding-top: 8vh;
	padding-bottom: 2vh;
}

.sidebar ul {
	/* padding: 1vh 2vw 1vh; */
	list-style-type: none;
}

.sidebar li {
	text-align: justify;
	padding-bottom: 1vh;
}

.sidebar a {
	font-size: 2vw;
	color: white;
	text-decoration: none;
}

.sidebar a:hover {
	color: #160647;
}

.container_hdr_main {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 405px;
	max-width: 720px;
}

.header {
	display: flex;
	flex-direction: row;
	height: 25%;
	min-height: 300px;
	/* max-height: 240px; */
	width: 100%;
	max-width: 720px;
	background-image: linear-gradient(to left, rgba(211,211,211,0.81), rgba(211,211,211,0.89), rgba(211,211,211,0.94), rgba(211,211,211,0.97), rgba(211,211,211,0.99), rgba(211,211,211,1));
	padding: 20px;
}

.hdr-left {
	width: 75%;
	min-width: 304px;
	max-width: 540px;
	color: black;
}

#hdr-name a {
	font-size: 4.1vw;
	font-weight: bold;
	color: #Aa382e;
	text-decoration: none;
}

#hdr-name a:hover {
	color: white;
}

#hdr-profession {
	font-size: 2.4vw;
	font-weight: bold;
}

#hdr-list {
	font-size: 16px;
	font-style: italic;
	list-style-type: circle;
	padding-left: 16px;
}

/* #hdr-quote {
	font-size: 16px;
	font-style: italic;
	quotes: "„" "“" "‚" "‘";
} */

.hdr-right {
	flex: 1;
}

.avatar {
	display: inherit;
	margin: auto;
}

.content-main {
	padding: 20px;
	flex: 1;
	width: 100%;
	max-width: 720px;
	font-size: 15px;
	color: #160647;
	background-image: linear-gradient(to left, rgba(211,211,211,0.81), rgba(211,211,211,0.89), rgba(211,211,211,0.94), rgba(211,211,211,0.97), rgba(211,211,211,0.99), rgba(211,211,211,1));
}

.content-hdr {
	padding: 2px;
	border-top: 1px solid #Aa382e;
	border-bottom: 1px solid #Aa382e;
	font-size: 16px;
	font-weight: bold;
	color: #Aa382e;
}

table, form {
	height: auto;
	width: 100%;
	padding: 0 12px 0;
}

tr, th, td {
	height:  12px;
	border: 1px solid black;
}

td a {
	text-decoration: none;
	color: #Aa382e;
}

td a:hover {
	color: white;
}

th {
	background: black;
	color: white;
}

tr:nth-child(odd) {
	background: #A0A0A0;
}

input[type=text], textarea {
	background-color: rgba(222,222,222,0.4);
	width: 50%;
	/* border: 2px inset #Aa382e; */
	padding: 0 12px 0;
	resize: vertical;
}

/* xtra responsiveness  */
@media screen and (min-width: 960px) {
	.sidebar h1 {
		font-size: 32px;
	}
	.sidebar a {
		font-size: 20px;
	}
	#hdr-name a {
		font-size: 38px;
	}
	#hdr-profession {
		font-size: 24px;
	}
}

@media screen and (max-width: 800px) {
	.sidebar h1 {
		font-size: 24px;
	}
	.sidebar a {
		font-size: 15px;
	}
	#hdr-name a {
		font-size: 28px;
	}
	#hdr-profession {
		font-size: 18px;
	}
}
